<!DOCTYPE html>
<html>
    <head>
        <title>{{= title }}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- <link rel='stylesheet' media="only screen and (min-device-width : 1200px)" href='/stylesheets/style.css' /> -->
        <!-- <link rel="stylesheet" media="only screen and (min-device-width : 768px) and (max-device-width : 1024px)" href="/stylesheets/ipad.css" /><!-- ipad styling -->
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="images/favicon.ico">
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/jquery-1.9.1.min.js"></script>
        <!-- backbone.js-->
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/backbone-relational.js"></script>
        <!-- GSAP -->
        <script src="js/CSSPlugin.min.js"></script>
        <script src="js/TweenLite.min.js"></script>

        <script src="js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <!-- enable iOS standalone mode -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- iOS icons -->
        <link rel="apple-touch-icon" href="images/touch-icon-iphone-57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="images/touch-icon-ipad-72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="images/touch-icon-iphone-retina-114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="images/touch-icon-ipad-retina-144.png" />
    </head>
    <body>
        <div id="maincontainer">
            <header>
                <div id="infoButton">
                    ?
                </div>
                <div id="logoWrapper">
                    <img id="logo" src="images/logo.png" width="178" height="37">
                </div>
                <div id="secretControls">
                    <input id="stopSubscriptions"type="button" value="stop sub"></br>
                    <input id="speedSelector" type="range" min="0.5" max="15" step="0.5" value="5"><span>5</span> sec.
                </div>
            </header>
            <div id="searchWrapper">
                <div id="searchForm">
                    <input type="text" id="searchbox" placeholder="Picture your words" />
                    <input type="button" id="submitButton" name="go" value="GO!">
                </div>
                <div id="searchError">
                            error
                </div>
            </div>
            <div id="seperator">
                -------
            </div>
            <div id="result">
                <div id="resultTitles"></div>
                <div id="resultImages"></div>
            </div>
        </div>

        <!-- Templates -->
        <script type="text/template" id="loader-template">
            <div class='loaderWrapper <% print(displayOverlay ? "loaderWrapperOverlay" : "") %>'>
                <div class='loaderContent'>
                    <div class='loaderMessage'><%= message %></div>
                    <div class='circularGWrapper'>
                        <div id='circularG_1' class='circularG'></div>
                        <div id='circularG_2' class='circularG'></div>
                        <div id='circularG_3' class='circularG'></div>
                        <div id='circularG_4' class='circularG'></div>
                        <div id='circularG_5' class='circularG'></div>
                        <div id='circularG_6' class='circularG'></div>
                        <div id='circularG_7' class='circularG'></div>
                        <div id='circularG_8' class='circularG'></div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="info-template">
            <div id="infoDialog">
                <header id="infoHeader"><%= title %></header>
                <article id="infoData">
                    <%= text %>
                </article>
                <footer id="infoFooter">
                    <input type="button" id="closeInfo" value="Close Dialog"/>
                </footer>
            </div>
        </script>
    </body>
</html>