<!DOCTYPE html>
<html>
    <head>
        <title>[%= title %]</title>
        
        <!-- Load JavaScripts -->

        [% if(live) { %] <script src="/socket.io/socket.io.js"></script> [% } %]
        <!-- jQuery -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- backbone.js-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-relational/0.8.5/backbone-relational.min.js"></script>
        <!-- GSAP -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.9.6/plugins/CSSPlugin.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.9.6/TweenLite.min.js"></script>

        <script src="js/index.js"></script>
        [% if(tv) { %] <script src="js/autosearch.js"></script> [% } %]
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <!-- Apple related -->

        <!-- enable iOS standalone mode -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- iOS icons -->
        <link rel="apple-touch-icon" href="images/touch-icon-iphone-57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="images/touch-icon-ipad-72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="images/touch-icon-iphone-retina-114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="images/touch-icon-ipad-retina-144.png" />

        <!-- Load Styling -->

        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id="maincontainer">
            <header>
                <div id="infoButton" class="roundButton">
                    ?
                </div>
                <div id="logoWrapper">
                    <img id="logo" src="images/logo.png" width="178" height="37">
                </div>
            </header>
            <div id="searchWrapper">
                <div id="searchForm">
                    <input type="text" id="searchbox" placeholder="Picture your words" />
                    <input type="button" id="submitButton" name="go" value="GO!">
                </div>
                <input type="button" id="pauseButton" name="pause" value="| |">
                <div id="searchError">
                            error
                </div>
            </div>
            <div class="separator"></div>
            <div id="result">
                <div id="resultTitles"></div>
                <div id="resultImages"></div>
            </div>
        </div>

        <!-- Templates -->
        <script type="text/template" id="loader-template">
            <div class='loaderContent'>
                <div class='loaderMessage'><%= status %></div>
                <div class='circularGWrapper'>
                    <div id='circularG_1' class='circularG'></div>
                    <div id='circularG_2' class='circularG'></div>
                    <div id='circularG_3' class='circularG'></div>
                    <div id='circularG_4' class='circularG'></div>
                    <div id='circularG_5' class='circularG'></div>
                    <div id='circularG_6' class='circularG'></div>
                    <div id='circularG_7' class='circularG'></div>
                    <div id='circularG_8' class='circularG'></div>
                </div>
            </div>
        </script>

        <script type="text/template" id="info-template">
            <div id="infoDialog" class="hebrew">
                <header id="infoHeader" class="hebrew"><h1>סוּלְתָגִית | <span class="english">sultag.it</span></h1></h1></header>
                <article id="infoData" class="hebrew">
                    <p>אנחנו לא כותבים כמו שכתבנו פעם, ולא מדברים כמו שדיברנו פעם... אנחנו כותבים-מדברים.</p>
                    <p>הזמינות והנוחות של הטלפונים החכמים מאפשרת לנו לכתוב את השפה שאותה אנו מדברים.<br/>
                    המהירות שבה מועבר המסר, מאפשרת לנו לשוחח אחד עם השני בכתיבה. וגם הכתיבה עצמה השתדרגה – צילומים, אייקונים, סמלים וצבעים, הם חלק בלתי נפרד מהמסר. האותיות עצמן הן רק כלי אחד מכל אלו העומדים לרשותנו.</p>
                    <p>לא רק השפה השתנתה, גם הנמענים. הרשתות החברתיות מאפשרות לנו לנהל דו־שיח ורב־שיח במקביל.<br/>
                    כל ציוץ מועמד להפוך לצעקה, וכל סטטוס לעיתון יומי של האחר. כל דבר שנפרסם מגיע להרבה יותר אנשים משהיה יכול להגיע בעבר.</p>
                    <p>במרחב האינטרנטי הנייד, אינסטגרם מזמינה אותנו לתייג את התמונות שאנחנו מעלים במילות מפתח - סוּלְתָגִיוֹת (<span class="english">Hashtags</span>). הסולתגיות מקטלגות, מקשרות, מרחיבות או מפיצות את התמונה שצילמתי. המשמעות של התמונה מורחבת או משתנה בהתאמה.</p>
                    <p>יצור הכלאיים, המורכב מתמונה ומילים, עומד בפני עצמו, ומתפקד כביטוי מילולי וחזותי במקביל.</p>
                    <p>העבודה שלנו, היא מעין מילון תרבותי שיתופי מודרני – החוקר את התופעה הזו.</p>
                </article>
                <footer id="infoFooter">
                    <div>אירית: <span class="eng"><a href="mailto:iritelad@gmail.com">iritelad #at gmail.com</a></span> | אורי: <span class="eng"><a href="mailto:urke.leshem@gmail.com">urke.leshem #at gmail.com</a></span></div>
                    <input type="button" id="closeInfo" class="hebrew" value="סגור"/>
                </footer>
            </div>
        </script>

        <script type="text/template" id="smartphoneMessage-template">
            <div id="infoDialog" class="hebrew">
                <header id="infoHeader"><img id="logo" src="images/logo.png"></header>
                <article id="infoData" class="hebrew">
                    <p>הפרויקט <span class="english">sultag.it</span> מיועד לשימוש במכשירים עם מסך גדול יותר מהמסך של המכשיר הנוכחי דוגמת מחשבי לוח או מחשבים אישיים</p>
                    <p class="english">sultag.it is designed to work with devices with larger screens than this one - such as tablets and desktop computers.</p>
                </article>
            </div>
        </script>

    </body>
</html>