<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
        <!-- backbone.js-->
        <script type="text/javascript" src="js/underscore.js"></script>
        <script type="text/javascript" src="js/backbone.js"></script>
        <!-- GSAP -->
        <script src="js/CSSPlugin.min.js"></script>
        <script src="js/TweenLite.min.js"></script>

        <script type="text/javascript" src="js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
    </head>
    <body>
        <div id="maincontainer">
            <div id="secretControls">
                <input id="stopSubscriptions"type="button" value="stop sub"></br>
                <input id="speedSelector" type="range" min="0.5" max="15" step="0.5" value="5"><span>5</span> sec.
            </div>
            <div id="title">
                <%= title %><sup>beta</sup>
            </div>
            <div id="searchForm">
                <input type="text" id="searchbox" placeholder="enter sentence (english only)" />
                <div id="searchIndicator">
                    <span id="delete">X</span>
                </div>
                <input type="button" id="submitButton" name="go" value="Go">
            </div>
            <div id="result">
                <div id="resultTitles"></div>
                <div id="resultImages"></div>
            </div>
        </div>
    </body>
</html>