<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- <link rel='stylesheet' media="only screen and (min-device-width : 1200px)" href='/stylesheets/style.css' /> -->
        <!-- <link rel="stylesheet" media="only screen and (min-device-width : 768px) and (max-device-width : 1024px)" href="/stylesheets/ipad.css" /><!-- ipad styling -->
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="images/favicon.ico">
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/jquery-1.9.1.min.js"></script>
        <!-- backbone.js-->
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>
        <!-- GSAP -->
        <script src="js/CSSPlugin.min.js"></script>
        <script src="js/TweenLite.min.js"></script>

        <script src="js/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <!-- enable iOS standalone mode -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- iOS icons -->
        <link rel="apple-touch-icon" href="images/touch-icon-iphone-57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="images/touch-icon-ipad-72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="images/touch-icon-iphone-retina-114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="images/touch-icon-ipad-retina-144.png" />
    </head>
    <body>
        <div id="maincontainer">
            <header>
                <div id="infoButtonWrapper">
                    ?
                </div>
                <div id="logoWrapper">
                    <img id="logo" src="images/sultagit_logo.png">
                </div>
                <div id="secretControls">
                    <input id="stopSubscriptions"type="button" value="stop sub"></br>
                    <input id="speedSelector" type="range" min="0.5" max="15" step="0.5" value="5"><span>5</span> sec.
                </div>
            </header>
            <div id="searchWrapper">
                <div id="searchForm">
                    <input type="text" id="searchbox" placeholder="PICTURE YOUR WORDS" />
                    <input type="button" id="submitButton" name="go" value="GO!">
                </div>
                <div id="messages">
                    error
                </div>
            </div>
            <div id="seperator">
                <div id="dot_1" class="dot"></div>
                <div id="dot_2" class="dot"></div>
                <div id="dot_3" class="dot"></div>
                <div id="dot_4" class="dot"></div>
                <div id="dot_5" class="dot"></div>
                <div id="dot_6" class="dot"></div>
                <div id="dot_7" class="dot"></div>
                <div id="dot_8" class="dot"></div>
                <div id="dot_9" class="dot"></div>
                <div id="dot_10" class="dot"></div>
                <div id="dot_11" class="dot"></div>
                <div id="dot_12" class="dot"></div>
                <div id="dot_13" class="dot"></div>
                <div id="dot_14" class="dot"></div>
                <div id="dot_15" class="dot"></div>
                <div id="dot_16" class="dot"></div>
                <div id="dot_17" class="dot"></div>
                <div id="dot_18" class="dot"></div>
                <div id="dot_19" class="dot"></div>
                <div id="dot_20" class="dot"></div>
                <div id="dot_21" class="dot"></div>
                <div id="dot_22" class="dot"></div>
                <div id="dot_23" class="dot"></div>
                <div id="dot_24" class="dot"></div>
                <div id="dot_25" class="dot"></div>
                <div id="dot_26" class="dot"></div>
                <div id="dot_27" class="dot"></div>
                <div id="dot_28" class="dot"></div>
                <div id="dot_29" class="dot"></div>
                <div id="dot_30" class="dot"></div>
                <div id="dot_31" class="dot"></div>
                <div id="dot_32" class="dot"></div>
                <div id="dot_33" class="dot"></div>
                <div id="dot_34" class="dot"></div>
                <div id="dot_35" class="dot"></div>
                <div id="dot_36" class="dot"></div>
                <div id="dot_37" class="dot"></div>
                <div id="dot_38" class="dot"></div>
                <div id="dot_39" class="dot"></div>
                <div id="dot_40" class="dot"></div>
                <div id="dot_41" class="dot"></div>
                <div id="dot_42" class="dot"></div>
                <div id="dot_43" class="dot"></div>
                <div id="dot_44" class="dot"></div>
                <div id="dot_45" class="dot"></div>
                <div id="dot_46" class="dot"></div>
                <div id="dot_47" class="dot"></div>
                <div id="dot_48" class="dot"></div>
                <div id="dot_49" class="dot"></div>
                <div id="dot_50" class="dot"></div>
                <div id="dot_51" class="dot"></div>
                <div id="dot_52" class="dot"></div>
                <div id="dot_53" class="dot"></div>
                <div id="dot_54" class="dot"></div>
                <div id="dot_55" class="dot"></div>
                <div id="dot_56" class="dot"></div>
                <div id="dot_57" class="dot"></div>
                <div id="dot_58" class="dot"></div>
                <div id="dot_59" class="dot"></div>
                <div id="dot_60" class="dot"></div>
                <div id="dot_61" class="dot"></div>
                <div id="dot_62" class="dot"></div>
                <div id="dot_63" class="dot"></div>
                <div id="dot_64" class="dot"></div>
                <div id="dot_65" class="dot"></div>
                <div id="dot_66" class="dot"></div>
                <div id="dot_67" class="dot"></div>
                <div id="dot_68" class="dot"></div>
                <div id="dot_69" class="dot"></div>
                <div id="dot_70" class="dot"></div>
                <div id="dot_71" class="dot"></div>
                <div id="dot_72" class="dot"></div>
                <div id="dot_73" class="dot"></div>
                <div id="dot_74" class="dot"></div>
                <div id="dot_75" class="dot"></div>
                <div id="dot_76" class="dot"></div>
            </div>
            <div id="result">
                <div id="resultTitles"></div>
                <div id="resultImages"></div>
            </div>
        </div>
    </body>
</html>