<!DOCTYPE html>
<html>
<head>
    <title>sultag.it</title>
    <link rel="stylesheet" href="/stylesheets/soon.css">

    <link rel="shortcut icon" type="image/png" href="images/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- enable iOS standalone mode -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- iOS icons -->
    <link rel="apple-touch-icon" href="images/touch-icon-iphone-57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/touch-icon-ipad-72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/touch-icon-iphone-retina-114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/touch-icon-ipad-retina-144.png" />

    <body>
        <header id="logoWrapper">
            <img id="logo" src="images/logo.png">
        </header>
        <div class="seperator">
            <img src="images/seperator642.png">
        </div>
        <article>
            <p>אנחנו לא כותבים כמו שכתבנו פעם, ולא מדברים כמו שדיברנו פעם... אנחנו כותבים-מדברים.</p>
            <p>הזמינות והנוחות של הטלפונים החכמים מאפשרת לנו לכתוב את השפה שאותה אנו מדברים.<br/>
            המהירות שבה מועבר המסר, מאפשרת לנו לשוחח אחד עם השני בכתיבה. וגם הכתיבה עצמה השתדרגה – צילומים, אייקונים, סמלים וצבעים, הם חלק בלתי נפרד מהמסר. האותיות עצמן הן רק כלי אחד מכל אלו העומדים לרשותנו.</p>
            <p>לא רק השפה השתנתה, גם הנמענים. הרשתות החברתיות מאפשרות לנו לנהל דו־שיח ורב־שיח במקביל.<br/>
            כל ציוץ מועמד להפוך לצעקה, וכל סטטוס לעיתון יומי של האחר. כל דבר שנפרסם מגיע להרבה יותר אנשים משהיה יכול להגיע בעבר.</p>
            <p>במרחב האינטרנטי הנייד, אינסטגרם מזמינה אותנו לתייג את התמונות שאנחנו מעלים במילות מפתח - סוּלְתָגִיוֹת (<span class="eng">Hashtags</span>). הסולתגיות מקטלגות, מקשרות, מרחיבות או מפיצות את התמונה שצילמתי. המשמעות של התמונה מורחבת או משתנה בהתאמה.</p>
            <p>יצור הכלאיים, המורכב מתמונה ומילים, עומד בפני עצמו, ומתפקד כביטוי מילולי וחזותי במקביל.</p>
            <p>העבודה שלנו, היא מעיין מילון תרבותי שיתופי מודרני – החוקר את התופעה הזו.</p>
            <p>העבודה תעלה לאוויר ב-11/7 במקביל לפתיחת <a href="<% if (is_mobile) { %>fb://profile/131180857081837<% } else { %>http://tinyurl.com/ksjuo52<% } %>">תערוכת הבוגרים של החוג לתקשורת צילומית במכללת הדסה</a>.</p>
        </article>
        <div class="seperator">
            <img src="images/seperator642.png">
        </div>
        <footer>
            נשמע לכם מעניין? רוצים לדבר איתנו - קדימה!<br/>
            אירית: <span class="eng"><% if (is_mobile) { %><a href="mailto:iritelad@gmail.com"><% } %>iritelad #at gmail.com<% if (is_mobile) { %></a><% } %></span> | אורי: <span class="eng"><% if (is_mobile) { %><a href="mailto:urke.leshem@gmail.com"><% } %>urke.leshem #at gmail.com<% if (is_mobile) { %></a><% } %></span>
        </footer>
    </body>
</html>