//color palette variables:
@mainColor: #F08080;
@secondaryColor: #FEE1E1;
@invertColor: #ffffff;
@secondaryInvertColor: #F0F0F0;

body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.loader {
    display: none;
    height: 100%;
    width: 100%;
    background: @mainColor 
                url('../images/loader.gif') 
                50% 50% 
                no-repeat;
}

.searchboxText {
    text-indent:2%; 
    font-size:1em; 
    color: @invertColor;
}

// if changes are mase to margin/padding/border of this styling, make sure to propogate them in index.js->calculateSideLength
.tagResultElement {
    float: left;
    margin: 0 0.5%
}

#maincontainer {
    width: 1200px;
    text-align: center;
    margin: 10px auto;

    #secretControls {
        // float: left;
        position: absolute;
        display: none;
    }

    #title {
        font-family: Courier, monospace;
        cursor: default;
        color: @mainColor;

        sup {
            font-weight: bold;
        }
    }

    #searchForm {
        .searchboxText;
        width: 33%;
        margin: 5% auto 3%;   

        input {

            &:focus {
                outline: none;
            }

            //placeholder styling
            &::-webkit-input-placeholder { /* WebKit browsers */
                color: @secondaryColor;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: @secondaryColor;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: @secondaryColor;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: @secondaryColor;
            }
        }

        #searchbox {
            .searchboxText;
            float: left; 
            width: 70%; 
            height: 1.7em;  
            border: solid 1px @mainColor; 
            // border-top: solid 1px #c0c0c0; 
            border-right: none;
            background-color: @mainColor;
        }

        #searchIndicator {
            float: left; 
            width: 5%;
            height: 1.8em; 
            padding-right: 1%;
            border: solid 1px @mainColor; 
            // border-top: solid 1px #c0c0c0; 
            border-left: none;
            background-color: @mainColor;

            #delete {
                color:@secondaryColor; 
                cursor:pointer;
                display:none;
                vertical-align: middle;

                    &:hover {
                        color: @invertColor;
                    }
            }

            .loader{
                display: block;
                // cursor: pointer;
                height: 100%;
                width: 100%;
                background: url('../images/loader.gif') 
                                        50% 50% 
                                        no-repeat;
            }
        }

        #submitButton {
            cursor:pointer; 
            color: @mainColor;
            font-size: 1em;
            width:15%; 
            height: 2em; 
            background-color: @invertColor;  
            border: 1px solid @mainColor; 
            -moz-border-radius: 2px; 
            -webkit-border-radius: 2px; 
        }
    }

    #result{
        position: relative;
        width: 100%;

        #resultTitles {
            height: 3em;

            .tagTitle {
                .tagResultElement;
                // font-size: 4em;
            }
        }

        .tagImages {
            .tagResultElement;
            img {
                display: none;
                position: relative;
                margin: 7% auto;
            }
        }
    }

}