//color palette variables:
@mainColor: #D1232A;
@secondaryColor: #FEE1E1;
@invertColor: #ffffff;
@secondaryInvertColor: #F0F0F0;

body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
}


.searchboxText {
    text-indent:2%; 
    font-size:1em; 
    color: @invertColor;
}

// if changes are mase to margin/padding/border of this styling, make sure to propogate them in index.js->calculateSideLength
.tagResultElement {
    float: left;
    margin: 0 0.5%
}

#maincontainer {
    text-align: center;
    margin: 10px auto;

    #top {

        #secretControls {
            position: absolute;
            display: none;
        }

        #title {
            font-family: Courier, monospace;
            cursor: default;
            color: @mainColor;

            sup {
                font-weight: bold;
            }
        }

        #searchForm {
            .searchboxText;
            @media only screen {
                @media (min-device-width : 1200px) {
                    width: 25%;
                }
                @media (min-device-width : 768px) and (max-device-width : 1024px) {
                    width: 33%;
                }
            }
            margin: 3% auto 0;   

            input {

                &:focus {
                    outline: none;
                }

                //placeholder styling
                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: @secondaryColor;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: @secondaryColor;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: @secondaryColor;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10+ */
                    color: @secondaryColor;
                }
            }

            #searchbox {
                .searchboxText;
                -webkit-appearance: none;
                float: left; 
                width: 70%; 
                border: solid 1px @mainColor; 
                background-color: @mainColor;
                padding: 1% 0;
                -moz-border-radius: 5px; 
                -webkit-border-radius: 5px;
            }

            #searchIndicator {
                float: left; 
                width: 5%;
                height: 1.8em; 
                padding-right: 1%;
                border: solid 1px @mainColor; 
                border-left: none;
                background-color: @mainColor;

                #delete {
                    color:@secondaryColor; 
                    cursor:pointer;
                    display:none;
                    vertical-align: middle;

                        &:hover {
                            color: @invertColor;
                        }
                }

                .loader{
                    display: block;
                    height: 100%;
                    width: 100%;
                    background: url('../images/loader.gif') 
                                            50% 50% 
                                            no-repeat;
                }
            }

            #submitButton {
                -webkit-appearance: none;
                cursor:pointer; 
                color: @mainColor;
                font-size: 1em;
                width:15%; 
                background-color: @invertColor;  
                border: 1px solid @mainColor; 
                -moz-border-radius: 5px; 
                -webkit-border-radius: 5px;
                padding: 1% 0;
            }
        }
    }

    #result{
        position: relative;
        width: 100%;
        margin-top: 2%;

        #resultTitles {
            height: 3em;

            .tagTitle {
                .tagResultElement;
            }
        }

        .tagImages {
            .tagResultElement;
            img {
                display: none;
                position: relative;
                margin: 7% auto;
            }
        }
    }

}