body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#search {
  width: 250px;
  margin: 0 auto;
}

#result {
  img {
    margin: 10px;
  }
}

.loader{
  display: none;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('../images/bigloader.gif') 
              50% 50% 
              no-repeat;
}